<% provide(:title, "Top") %>
<!--<%# %><%#= %>埋め込みRuby　Viewにてコードの重複を取り除くテクニックの１つ＝ERB-->
<!--ERB＝Embedded Ruby＝埋め込みRuby-->
<!--provide=与える　埋め込みRubyによりprovideメソッドを呼び出す-->
<!--:titleは"Top"を関連付ける-->
<!--provideメソッドを使ってタイトルのページ名部分をページ毎に変更-->

<div class="center jumbotron">
  <h1>勤怠管理システム</h1>
  <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>
    <!--↑　ここのh1とｐタグがpplication.html.erbの下記記載のyieldメソッドに挿入される。-->
    <!--<body>-->
    <!--  <%#= yield %>-->
      <!--例えばstatic_pages/topにアクセスするとtop.html.erbの内容がHTMLに変換され、<%#= yield %>の位置に挿入される-->
    <!--</body>-->
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <!--リンクを生成するためにRailsヘルパーであるlink_toを使う。-->
  <!--第2引数のURLにはルーティングヘルパーを割り当てるが、-->
  <!--カリキュラムでは、最初はWebデザインで一般的に使われるスタブ（ダミー）用の#で置き換えておく。-->
  <!--後に、トップページからユーザー登録ページにアクセスできるようボタンのリンクを設定をすため、スタブ部分はsignup_pathに変更-->
  <!--center jumbotron btn btn-lg btn-primaryなどもBootstrapによってスタイルが当てられる。-->
</div>

<!--application.html.erb(レイアウトファイル)にて
リファクタリング（外部から見た動作を変えずにソースコードの内部構造を整理する）-->
<!--することでHTMLの重複した部分をDRY（＝Don't Repeat Yourself＝繰り返すべからず＝Rubyの原則）にする-->