<% provide(:title, @user.name) %>
<!--<h1><%#= @user.name %>, <%#= @user.email %></h1>-->
<!--コントローラーのアクション内でインスタンス変数を定義（@userに代入）-->
<!--ビューで埋め込みRubyを使いドット記法で繋げることにより@userに代入しているnameやemailの値を取得し
ユーザー名とメールアドレスを表示-->

<div>
  <table class="table table-bordered table-condensed user-table">
    <tr> 
    <!--tr（列）-->
      <td>時間管理表</td>
      <!--td（セル）-->
      <td>指定勤務時間</td>
      <td>基本時間</td>
      <td>月初日</td>
    </tr>

    <tr>
      <td>所属</td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月末日</td>
    </tr>
  </table>
</div>